aws_region                 = "eu-west-1"
aws_profile                = "default"
vpc_cidr_block             = "10.1.0.0/16"
subnet_public_cidr_block   = "10.1.1.0/24"
subnet_private1_cidr_block = "10.1.2.0/24"
subnet_private2_cidr_block = "10.1.3.0/24"
subnet_private3_cidr_block = "10.1.4.0/24"
subnet_private4_cidr_block = "10.1.5.0/24"
subnet_private5_cidr_block = "10.1.6.0/24"
availability_zone_public   = "eu-west-1a"
availability_zone_private1 = "eu-west-1b"
availability_zone_private2 = "eu-west-1c"
db_instance_class          = "db.t1.micro"
db_name                    = "db_name"
db_username                = "db_username"
db_password                = "db_password"
key_name                   = "key_name"
public_key_path            = "/root/.ssh/terraform.pub"
domain_name                = "domain_name"
